#General
.DS_Store
*~
*.swp
build/
dist/
nanpy.egg-info/
*.sh
cfg.h

#Arduino
*.o
*.hex
*/.dep
*/.lib

#Python
*.pyc

#hidden files
.*
!.gitignore

#Internal dev
firmware/Nanpy/arduino.mk
firmware/Nanpy/Makefile
firmware/Nanpy/libraries
