language: python
python:
 - "2.6"
 - "2.7"
 - "3.2"
 - "3.3"
 - "3.4"

install:
 - pip install .
 - pip install coveralls coverage
 - pip install pyserial

script:  
 - cd tests/test_offline && nosetests -v --with-coverage --cover-package=nanpy  .
 
after_success:
 - coveralls
